<div class="login-form">
  <h2 class="text-center">Log in</h2>
  <div class="form-group">
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.text_field :username, class: 'form-control', placeholder: 'Username', required: 'required' %><br>
      <%= f.password_field :password, class: 'form-control', placeholder: 'Password', required: 'required' %><br><br>
      <%= f.submit "Log In", class: 'btn btn-primary btn-block' %>
    <% end %><br>
  </div>

<p class="text-center"><%= link_to "Login in Via GitHub", "auth/github"%></p>

<p class="text-center">New User? Please <%= link_to "Sign Up", signup_path %></p>
</div>
