<table id="groups">
  <thead>
    <tr>
      <th><strong>Name</strong></th>
      <th><strong>Status</strong></th>
      <th><strong>View</strong></th>
      <th><strong>Edit</strong></th>
      <th><strong>Delete</strong></th>
    </tr>
  </thead>

  <tbody>

    <% groups.each do |group| %>
      <tr>
        <td><%= group.name%></td>
        <td><%= group.group_status %></td>
        <td><%= link_to "", group_path(group), class: 'glyphicon glyphicon-eye-open'%></td>
        <% if group.users.first == current_user %>
          <td><%= link_to "", edit_group_path(group), class: 'glyphicon glyphicon-pencil', id: 'pencil-icon' %></td>
          <td><%= link_to "", group_path(group), method: :delete, data: { confirm: "Are you sure?" }, class: 'glyphicon glyphicon-trash', id: 'trash-icon' %></td>
        <% else %>
          <td><span class="glyphicon glyphicon-ban-circle"></span></td>
          <td><span class="glyphicon glyphicon-ban-circle"></span></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
