<table id="groups">
  <thead>
    <tr>
      <th><strong>Name</strong></th>
      <th><strong>Status</strong></th>
      <th><strong>View</strong></th>
      <th><strong>Edit</strong></th>
      <th><strong>Delete</strong></th>
    </tr>
  </thead>

  <tbody>

    <% groups.each do |group| %>
      <tr>
        <td><%= group.name%></td>
        <td><%= group.group_status %></td>
        <td><%= link_to "View Group", group_expenses_path(group)%></td>
        <td><%= link_to "Edit Group", edit_group_path(group)%></td>
        <td><%= link_to "Delete Group", group_path(group), method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
