<% if group_count == 0 %>
  <p>Please create a group</p>
<% else %>
  <h3>Here are your groups:</h3>

<table class="table">
  <thead>
    <tr>
      <th colspan = "4"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>Name</strong></td>
      <td><strong>View</strong></td>
      <td><strong>Edit</strong></td>
      <td><strong>Delete</strong></td>
    </tr>

    <% current_user.groups.each do |group| %>
      <tr>
        <td><%= group.name%></td>
        <td><%= link_to "View Group", group_expenses_path(group)%></td>
        <td><%= link_to "Edit Group", edit_group_path(group)%></td>
        <td><%= link_to "Delete Group", group_path(group), method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>


<%= link_to "Create A New Group", new_group_path %><br>
<%= link_to "Home Page", user_path(current_user)%>
<%= link_to "Log Out", logout_path%>
