<% if group_count == 0 %>
  <p>Please create a group</p>
<% else %>
  <h3>Here are your groups:</h3>
  <% current_user.groups.each do |group| %>
    <li><%= group.name%>, <%= link_to "View Group", group_expenses_path(group)%> <%= link_to "Edit Group", edit_group_path(group)%>, <%= link_to "Delete Group", group_path(group), method: :delete, data: { confirm: "Are you sure?" } %></li>
  <% end %>
<% end %><br>

<%= link_to "Create A New Group", new_group_path %><br>
<%= link_to "Home Page", user_path(current_user)%>
<%= link_to "Log Out", logout_path%>
