<h3>See all groups: <%= link_to "", group_list_path, class: 'glyphicon glyphicon-refresh'%></h3>

Search By Group Name:
<div class="form-group">
  <%= form_tag(group_list_path, method: :get) do %>
    <%= text_field_tag :term, params[:term]%>
    <%= submit_tag 'Search', name: nil %>
  <% end %>
</div>

<div class="form-group">
  <%= link_to "View By Most Popular", most_popular_group_list_path, id: 'most-popular' %>
</div>

<div class="group-info", id="hidden">
  <ol>
  </ol>
</div>

<div class="group-list-table">
  <table id="groups">
    <thead>
      <tr>
        <th><strong>Name</strong></th>
        <th><strong>Created By</strong></th>
        <th><strong>Members</strong></th>
        <th><strong>Status</strong></th>
        <th><strong>Quick View</strong></th>
      </tr>
    </thead>

    <tbody>

        <!-- <#% @groups.recent.each do |group| %>
        <!-- <tr>
          <td><#%= link_to group.name, group_path(group) %></td>
          <td><#%= group.users.first.username %></td>
          <td><#%= group.user_count %></td>
          <td><#%= group.group_status %></td>
          <td><#%= link_to "", group_path(group), class: 'glyphicon glyphicon-eye-open', id: 'eye-icon-group-info'%></td>
        </tr> -->

    </tbody>
  </table>
</div>
