<h3>See all groups: <%= link_to "", groups_path, class: 'glyphicon glyphicon-refresh'%></h3>

<%= form_tag(groups_path, method: :get) do %>
  Group Name: <%= text_field_tag :name %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<table id="groups">
  <thead>
    <tr>
      <th><strong>Name</strong></th>
      <th><strong>Created By</strong></th>
      <th><strong>Members</strong></th>
      <th><strong>Status</strong></th>
      <th><strong>View</strong></th>
    </tr>
  </thead>

  <tbody>

    <% @groups.recent.each do |group| %>
      <tr>
        <td><%= group.name%></td>
        <td><%= group.users.first.username%></td>
        <td><%= group.users.count %></td>
        <td><%= group.group_status %></td>
        <td><%= link_to "", group_path(group), class: 'glyphicon glyphicon-eye-open'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
