<h3>See all groups:</h3>

<table id="groups">
  <thead>
    <tr>
      <th><strong>Name</strong></th>
      <th><strong>Created By</strong></th>
      <th><strong>Members</strong></th>
      <th><strong>Status</strong></th>
      <th><strong>View</strong></th>
    </tr>
  </thead>

  <tbody>

    <% @groups.recent.each do |group| %>
      <tr>
        <td><%= group.name%></td>
        <td><%= group.users.first.username%></td>
        <% group.users.each do |users|%>
        <td><%= users.username %></td>
        <% end %>
        <td><%= group.group_status %></td>
        <td><%= link_to "View", group_expenses_path(group)%></td>
      </tr>
    <% end %>
  </tbody>
</table>
