<h3>View Groups By Most Popular: <%= link_to "", groups_most_popular_path, class: 'glyphicon glyphicon-refresh'%></h3>

Search By Group Name:
<div class="form-group">
  <%= form_tag(groups_most_popular_path, method: :get) do %>
    <%= text_field_tag :term, params[:term]%>
    <%= submit_tag 'Search', name: nil %>
  <% end %>
</div>

<div class="form-group">
  <%= link_to "View By Most Recent", groups_path %>
</div>

<table id="groups">
  <thead>
    <tr>
      <th><strong>Name</strong></th>
      <th><strong>Created By</strong></th>
      <th><strong>Members</strong></th>
      <th><strong>Status</strong></th>
      <th><strong>View</strong></th>
    </tr>
  </thead>

  <tbody>

    <% @groups.most_popular.each do |group| %>
      <tr>
        <td><%= group.name%></td>
        <td><%= group.users.first.username%></td>
        <td><%= group.users.size %></td>
        <td><%= group.group_status %></td>
        <td><%= link_to "", group_path(group), class: 'glyphicon glyphicon-eye-open'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
