<h3>Groups by Most Popular:</h3>

<table id="groups">
  <thead>
    <tr>
      <th><strong>Name</strong></th>
      <th><strong>Created By</strong></th>
      <th><strong>Members</strong></th>
      <th><strong>Status</strong></th>
      <th><strong>View</strong></th>
    </tr>
  </thead>

  <tbody>

    <% @groups.most_popular.each do |group| %>
      <tr>
        <td><%= group.name%></td>
        <td><%= group.users.first.username%></td>
        <td><%= group.users.size %></td>
        <td><%= group.group_status %></td>
        <td><%= link_to "", group_path(group), class: 'glyphicon glyphicon-eye-open'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
