<h1>Group Summary <%= @group.name %></h1><br>

<% if @group.users.include?(current_user) %>

  <%= render :partial => 'expenses/summary',
             :locals => { :min => @group.min_expense, :max => @group.max_expense, :average => @group.avg_expense} %>

  <h3><strong>Split per member: </strong><%= number_to_currency(@group.split)%></h3>
  <h3><strong>Total Amount: </strong><%= number_to_currency(@group.total_expenses)%></h3>
<br>

<table id="groups-user">
  <thead>
    <tr>
      <th>Group Members (<%= @group.user_count %>):</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <% @group.users.each do |user|%>
          <td><%= user.username %></td>
        <% end %>
      </tr>
  </tbody>
</table>
<br>

  <%= link_to "View Group Expenses", group_expenses_path(@group), class: 'button-1'%>

<% else %>
<h3> To View Summary you need to be a member of this group</h3>
  <%= form_tag(memberships_path) do %>
    <%= hidden_field_tag 'id', @group.id %>
    <%= submit_tag "Join Group", class: 'button-1' %>
  <% end %>

<% end %>
<br>
