<h1><%= @group.name %></h1>
<%= @group.expenses.each do |e|%>
<% end %>

<% @group.expenses.each do |e| %>
  <p><%= e.description %>, <%= e.amount %>  <%= link_to "edit", edit_group_expense_path(@group, e.id ) %></p>
<% end %>

<p>Link to create expenses</p>
