<div class="wrapper", id="group-expenses-page">
  <% if @group.users.include?(current_user) %>
  <h1 data-groupId="<%= @group.id %>", id="group-name"><%= @group.name%></h1>

  <section class="next-previous">
    <!-- next/previous buttons -->
    <a href="#" class="js-more button", data-groupid="<%= @group.id %>", id="previous-button">Previous Group</a>
    <a href="#" class="js-more button", data-groupid="<%= @group.id %>", id="next-button">Next Group</a><br>
  </section>
  <br>

  <div class="exp-container">
    <%= render 'expenses/table'%>
  </div>

  <div class="total">
  </div><br>

  <div class="expense-form-container">
    <%= render 'expenses/form' %>
  </div><br>

  <div class="edit-expense">
  </div><br>

  <!-- <button id="group-summary">Group Summary</button> -->

  <div class="group-summary-container">
    <button id="group-summary-reload", data-groupid="<%= @group.id %>">Update Summary</button>
    <%= render :partial => 'expenses/summary', :locals => {:group => @group} %>
  </div>

  <% else %>
  <h3 class = "wrapper"> To View Summary you need to be a member of this group</h3>
  <div class = "wrapper">
    <%= form_tag(memberships_path) do %>
      <%= hidden_field_tag 'id', @group.id %>
      <%= submit_tag "Join Group", class: 'button-1' %>
    <% end %>
  </div>
  <% end %>
  <br>
</div>
