<div class = "wrapper">
  <h1>Group Summary <%= @group.name %></h1><br>
</div>
<% if @group.users.include?(current_user) %>

  <%= render :partial => 'expenses/summary', :locals => {:group => @group} %>

<div class = "wrapper">
    <h3><strong>Total Amount: </strong><%= number_to_currency(@group.total_expenses)%></h3>
  <br>

    <%= link_to "View Group Expenses", group_expenses_path(@group), class: 'button-1'%>

  <% else %>
  <h3 class = "wrapper"> To View Summary you need to be a member of this group</h3>
  <div class = "wrapper">
    <%= form_tag(memberships_path) do %>
      <%= hidden_field_tag 'id', @group.id %>
      <%= submit_tag "Join Group", class: 'button-1' %>
    <% end %>
  </div>
  <% end %>
  <br>
</div>
