<% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="wrapper">
  <h1>Sign Up For A New Account</h1><br>

      <%= form_for @user do |f| %>
        <%= f.label :username %><br>
        <%= f.text_field :username %><br>
        <%= f.label :email %><br>
        <%= f.text_field :email %><br>
        <%= f.label :password %><br>
        <%= f.password_field :password %><br>
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation %><br><br>
        <%= f.submit "Create New Account", class: "btn btn-primary"%><br>
      <% end %><br>

  <p>Or <%= link_to "Sign Up With GitHub", "auth/github"%></p>
</div>
