<div class="wrapper">
  <% if current_user.groups.empty? %>
    <div class="intro-empty">
      <%= image_tag "dollar.jpg", :height => '400px' %>
      <h4>Hi, <%= current_user.username %></h4><br>
      <h4>You don't have any expense groups you are currently tracking.</h4><br>

      <div class="group-form">
        <%= render 'groups/form' %><br>
      </div>

    </div>
  <% else %>
    <h4>Hi, <%= current_user.username %></h4><br>
      <div class="edit-group">
      </div>
      <div class="group-form">
        <%= render 'groups/form' %><br>
      </div>

      <div class="groups-container">
        <h3>Here Are Your Most Recent Groups:</h3>
          <div class="active_groups">
            <%= render partial: 'groups/table', locals: {groups: @groups.active_groups.recent}%>
            <br>
          </div>

        <%# if !current_user.groups.inactive_groups.empty? %>
        <h3>Inactive groups:</h3>
        <button id="inactive-group-btn">Hide/Show</button>
          <div class="inactive_groups">
            <%= render partial: 'groups/table', locals: {groups: @groups.inactive_groups.recent }%>
          </div>
        <%# end %>
      </div>

  <% end %>
</div>
