<h1><%= @group.name %></h1>
<%= last_updated @group %><br><br>

<% if @expenses.empty? %>
  <p>There are no expenses for this group</p>
<% else %>

<table class="table">
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>Description</strong></td>
      <td><strong>Amount</strong></td>
      <td><strong>Category</strong></td>
      <td><strong>Edit</strong></td>
      <td><strong>Delete</strong></td>
    </tr>

    <%@expenses.each do |expense|%>
      <tr>
        <td><%= expense.description%></td>
        <td>$<%= ('%.2f' % expense.amount) %></td>
        <td><%= expense.category_name %></td>
        <td><%= link_to "Edit", edit_group_expense_path(expense.group_id, expense.id) %></td>
        <td><%= link_to "Delete", group_expense_path(expense.group_id, expense.id), method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <%end %>
  </tbody>
</table>
<%end %>

<h3><strong>TOTAL AMOUNT: </strong>$<%= ('%.2f' % total(@expenses))%></h3>

<br>
<%= link_to "Add New Expense", new_group_expense_path(@group)%>
<%= link_to "View All Groups", groups_path%>
<%= link_to "Home Page", user_path(current_user)%>
<%= link_to "Log Out", logout_path%>
