<h1 class = "wrapper"><%= @group.name %></h1><br>

  <% if @expenses.empty? %>
  <div class="wrapper">
    <h4>There are no expenses for this group</h4><br>
    <%= link_to "Add New Expense", new_group_expense_path(@group), class: 'button-1'%>
  </div>
  <% else %>

    <% if @group.users.include?(current_user) %>
      <%= render :partial => 'table' %>
      <h3><strong>TOTAL AMOUNT: </strong><%= number_to_currency(@group.total_expenses)%></h3>
      <div class="wrapper">
        <%= link_to "Add New Expense", new_group_expense_path(@group), class: 'button-1'%>
      </div>
    <% else %>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= sort_link "description" %></th>
          <th><%= sort_link "category_id", "Category" %></th>
        </tr>
      </thead>
      <tbody>
        <%@expenses.each do |expense|%>
          <tr>
            <td><%= expense.description%></td>
            <td><%= expense.category_name %></td>
          </tr>
        <%end %>
      </tbody>
    </table>

    <%end %>
  <%end %><br>
  <div class="wrapper">
    <%= link_to "Group Summary", group_path(@group), class: 'button-1'%>
  </div>
